body {
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.enquiry-form {
  background-color: #f0f8ff;
  border-radius: 20px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2),
    -8px -8px 16px rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 80%;
  max-width: 400px;
  margin: 150px auto;
}

.enquiry-heading {
  text-align: center;
  color: #0077e6;
}

form {
  display: grid;
  gap: 15px;
}

label {
  font-weight: bold;
}

select,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.select-container {
  position: relative;
}

select {
  appearance: none;
}

.submit-button {
  background-color: #0077e6;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0058b5;
}
